@import './../../node_modules/reset-css/_reset.scss';

body {
    overflow: hidden;
}

input, select, textarea, button{ font-size: inherit; color: inherit; font-family: inherit; }

*.hidden {
    display: none !important;
}

*.red-text {
    color: red;
}

.login-panel {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    > * {
        display: block;
        margin: 0 auto;
    }

    h1 {
        font-size: 2em;
        margin: 10px 0;
    }

    input[type=text] {
        background: none;
        border: none;
        border-bottom: 2px solid red;
        height: 1.1em;

        &:focus {
            outline:0;
        }
    }

    button {
        border: none;
        background: none;
        cursor: pointer;
        margin-top: 0.33em;
        padding: 0.1em;
    }

    .continue-game-items-container {
        margin-bottom: 0.5em;
        button {
            font-size: 1.5em;
        }
        span {
            font-size: 0.7em;
        }
    }
}

.avatar-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    img:not(.pointer) {
        height: 64px;
    }
    img.pointer {
        top: 15px;
        right: -60px;
        position: absolute;
    }
}

.fps-counter {
    font-size: 30px;
    padding: 5px;
    background: white;
    position: absolute;
    left: 10px;
    top: 10px;
}

.player-info-panel {
    position: fixed;
    top: 20px;
    right: 20px;

    .hp-bar {
        img {
            padding: 0 5px;
            height: 20px;

            &.small {
                padding-top: 2px;
                height: 16px;
            }
        }
    }

    .image-with-numbers-panel {
        float: right;
        padding: 5px;
        clear: both;

        .numbers {
            text-align: center;
        }
    }
}

.portal-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 90px;
    width: 58px;
    background-image: url('/images/icons/portal.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mobile .portal-icon {
    bottom: 27%;
    right: 20px;
    width: 29px;
    height: 45px;
    background-image: url('/images/icons/portal_mobile.png');
    z-index: 5;
}

.mobile-interface-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

    .mobile-control-stick {
        height: 30%;
        position: fixed;
        bottom: 7%;
        left: 25px;
        z-index: 5;

        img {
            &.main-circle {
                height: 100%;
            }

            &.main-circle-pointer {
                top: 30%;
                left: 30%;
                height: 40%;
                position: absolute;
            }
        }
    }

    .shot-button {
        position: fixed;
        right: 35px;
        bottom: 7%;
        height: 15%;
        z-index: 5;
    }
}

html.mobile .mobile-interface-container {
    display: block;
}