body {
    overflow: hidden;
}

.player-info-panel {
    position: fixed;
    top: 20px;
    left: 20px;
}

.mobile-interface-container {
    position: absolute;
    width: 100%;
    height: 100%;

    .mobile-control-stick {
        height: 30%;
        position: fixed;
        bottom: 25px;
        left: 25px;

        img {
            &.main-circle {
                height: 100%;
            }

            &.main-circle-pointer {
                top: 30%;
                left: 30%;
                height: 40%;
                position: absolute;
            }
        }
    }

    .shot-button {
        position: fixed;
        right: 35px;
        bottom: 35px;
        height: 15%;
    }
}